/* Global Settings */

body {
    background-color: #DEDADF;
}

#nav-bar {
    background-color: #020A24;
    height: 40px;
    position: fixed;
    width: auto;
    left: 0;
    right: 0;
    top: 0;
}

h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.page-title {
    font-size: xx-large;
    color: #1F2B3F;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -230px;

}

/* Home settings */

.title {
    background-color: #020A24;
    border: none;
    padding: 0;
}

#title {
    background-color: #020A24;
    position: relative;
    top: 25%;
    left: 0%;
}
#home {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 25%;
    left: 20%;
}
#page1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 25%;
    left: 40%;
}
#page2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 25%;
    left: 60%;
}
#page3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 25%;
    left: 80%;
}
div>h4 {
    display: inline;
}

#picture-carousel {
    position: absolute;
    top: 100%;
    max-width: 10%;
    max-height: 20%;

    margin: auto;
}
.caro-photos {
    display: none;
}

/* About settings */

#scroll-box-background {
    background-color:#3D8C6A;
    height: 800px;
    position: relative;
    top: 100px;
    width: auto;
    left: 0;
    right: 0;
    top: 0;
}

#scroll-box {
    background-color: white;
    border: 2px solid;
    font-size: large;
    overflow: auto;
    height: 400px;
    width: 500px;
    position: relative;
    top: 100px;
    margin: auto;
}

/* Cities settings */

#block {
    background-color: #3D8C6A;
    position: absolute;
    height: 1050px;
    width: 150px;
    top: 10%;
    border-radius: 30px;
}

#city-list {
    background-color: #78828E;
    position: relative;
    top: 180px;
}

#list {
    display: table;
    margin: auto;
}

ul {
    list-style-type: none;
    top: 500px;
}

li {
    align-items: center;
    max-width: 25%;
    max-height: 20%;
    display: inline-block;
    padding-top: 45px;
    padding-left: 20%;
}

.city-pic {
    max-width:100%;
    height: auto;
    border: solid 2px #1F2B3F;
    border-radius: 100%;
}

.p-credit {
    font-size: xx-small;
}

.city {
    font-size: xx-large;
}





