/* Global Settings */

body {
    background-color: #DEDADF;
}

#nav-bar {
    background-color: #020A24;
    height: 40px;
    position: fixed;
    width: auto;
    left: 0;
    right: 0;
    top: 0;
}

h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.page-title {
    font-size: xx-large;
    color: #1F2B3F;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -230px;

}

/* Home settings */

.title {
    background-color: #020A24;
    border: none;
    padding: 0;
}

#title {
    background-color: #020A24;
    position: relative;
    top: 25%;
    left: 0%;
}
#home {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 25%;
    left: 20%;
}
#page1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 25%;
    left: 40%;
}
#page2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 25%;
    left: 60%;
}
#page3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 25%;
    left: 80%;
}
div>h4 {
    display: inline;
}

#logo-div {
    position: absolute;
    top: 50px;
    left: 40%;
}


#caro-block {
    position: relative;
    background-color: #78828E;
    height: 800px;
    top: 375px;
    width: auto;
    left: 0;
    right: 0;
}

#picture-carousel {
    position: relative;
    top: 100px;
    max-width: 1000px;
    max-height: 750px;
    margin: auto;
}

.caro-photos>img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

.caro-photos {
    width: 1000px;
    height: 750px;
}

#left-div {
    position: absolute;
    left: -10%;
    bottom: 50%;
    width: 50px;
    height: 50px;
    display: block;
}

#previous {
    width: 100%;
    height: auto;
}

#right-div {
    position: absolute;
    bottom: 50%;
    right: -10%;
    width: 50px;
    height: 50px;
    display: block;
}

#next {
    width: 100%;
    height: auto;
}

.caro-photos>.credit {
    position: absolute;
    color: white;
}

.info-bar {
    background-color: #3D8C6A;
    height: 300px;
    position: relative;
    width: auto;
    left: 0;
    right: 0;
    top: 500px;
}

#info1 {
    font-size: xx-large;
    color: #DEDADF;
    position: relative;
    left: 1%;
    top: 40px;
}

#info1-img {
    position: relative;
    bottom: 60px;
    width: 250px;
    height: 500px;
    left: 70%;
}

#info1-img>img {
    width: 100%;
    height: auto;
}

/* About settings */

#scroll-box-background {
    position: absolute;
    background-color: #3D8C6A;
    height: 800px;
    top: 300px;
    width: auto;
    left: 0;
    right: 0;
    top: 0;
}

.box-title {
    font-size: xx-large;
    color: #1F2B3F;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -230px;
}

#scroll-box {
    background-color: white;
    border: 2px solid;
    font-size: x-large;
    overflow: auto;
    height: 400px;
    width: 500px;
    position: relative;
    top: 150px;
    margin: auto;
}

/* Cities settings */

#block {
    background-color: #3D8C6A;
    position: absolute;
    height: 100%;
    width: 150px;
    top: 10%;
    border-radius: 30px;
}

#city-list {
    background-color: #78828E;
    position: relative;
    top: 180px;
}

#list {
    display: table;
    margin: auto;
}

ul {
    list-style-type: none;
    top: 500px;
}

li {
    align-items: center;
    max-width: 25%;
    max-height: 20%;
    display: inline-block;
    padding-top: 45px;
    padding-left: 20%;
}

.city-pic {
    max-width:100%;
    height: auto;
    border: solid 2px #1F2B3F;
    border-radius: 100%;
}

.p-credit {
    font-size: xx-small;
}

.city {
    font-size: xx-large;
}


/* Sign Up settings */

#sign-up-title {
    font-size: xx-large;
    color: #1F2B3F;
    position: absolute;
    top: 50px;
    left: 30%;
}

#form-div {
    position: absolute;
    background-color: #3D8C6A;
    height: 850px;
    top: 300px;
    width: auto;
    left: 0;
    right: 0;
    top: 0;
}


form {
    background-color: #DEDADF;
    position: relative;
    top: 100px;
    left: 30%;
    height: 600px;
    width: 40%;
}

.form-fields {
    padding-top: 20px;

}
